/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #202020;
    font-size: 13px;
}

body {
    overflow: hidden;
}

.scroll-section {
    height: 100%;
    position: absolute;
}

#description {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
}

#description, .text {
    z-index: 1;
    color: #eee;
    font: 16px 'Lucida Grande',sans-serif;
    max-width: 40%;
    background: #1a1a1a;
    opacity: 0.8;
    padding: 10px;
}

#description p, #description ul {
    margin: 0px;
}

.text a {
    color: lightcoral;
}

.text a:hover {
    color: #f0c0c0;
}

.text > ul {
    padding: 0 2rem;
}

@media (max-width: 600px) {
    .text {
        display: none;
    }
}

/* IFRAME/EXAMPLE CONTENT */
#viewerDiv {
    height: 100%;
}

#viewerDiv>canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#menuDiv {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 0;
}

#menuDiv, .ac {
/* Disable select DAT.gui */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important;
}

#miniDiv {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20;
    bottom: 20;
    color: white;
}

#divScale {
    display: block;
    position: absolute;
    right: 135px;
    bottom: 40;
    text-align: center;
    width: 204px;
    height: 37px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    user-select: none;
}

.scaleWidget {
    display: block;
    background-image: linear-gradient(rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.3));
    margin: 0 auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#spanScaleWidget {
    border: 3px dashed black;
    border-top: none;
    width: 200px;
    height: 18px;
}

#spanZoomWidget {
    width: 100px;
    height: 18px;
}

#spanGraphVisibWidget {
    visibility: hidden;
}

#spanGraphVisibWidget.not_displayed {
    color:#FF0000;
    visibility: visible;
}

.tooltip {
    display: none;
    background-image: linear-gradient(rgba(80, 80, 80,0.95), rgba(60, 60, 60,0.95));
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    color: #CECECE;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.tooltip li, .coord {
    font-size: 12px;
    padding-left: 20px;
    color: #93B7C0;
    text-shadow: 0px 1px 0px rgba(200,200,200,.3), 0px -1px 0px rgba(30,30,30,.7);
}

.alertUnchecked {
    color: #ff000099;
}

.alertChecked {
    color: #0000ff99;
}

.alertValidated {
    color: #3cd25f99;
}