openapi: "3.0.1"
info: 
  title: "API MOSAIQUAGE"
  description: "Documentation de l'API pour le controle et les retouches de mosaiquage."
servers: 
  - url: "http://localhost:8081"
    description: "Serveur de dev"
tags:
  - name: branch
    description: Gestion des branches
  - name: wmts
    description: Requête sur les tuiles
  - name: graph
    description: Requête sur le graph de mosaïquage
  - name: patch
    description: Modification du graphe de mosaïquage
  - name: file
    description: Récupération de fichiers
  - name: process
    description: Gestion des processus longs
paths:
  '/version':
    get:
      tags:
        - version
      summary: "Version git"
      description: ""
      responses:
        '200':
          description: OK
  '/branches':
    get:
      tags:
        - branch
      summary: "Récupération de la liste des branches"
      description: ""
      responses:
        '200':
          description: OK
  '/branch':
    post:
      tags:
        - branch
      summary: "Création d'une branche"
      description: ""
      parameters:
        - in: query
          name: name
          required: true
          schema:
            type: string
          example: "maBranche"
      responses:
        '200':
          description: OK
  '/branch/{id}':
    delete:
      tags:
        - branch
      summary: "Destruction d'une branche"
      description: ""
      parameters:
      - in: path
        name: id
        description: l'identifiant de la branche à supprimer
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  '/rebase':
    post:
      tags:
        - branch
      summary: "Création d'une branche par enchainement de deux branches"
      description: ""
      parameters:
        - in: query
          name: name
          required: true
          schema:
            type: string
          example: "maBranche"
        - in: query
          name: firstId
          required: true
          schema:
            type: integer
          example: 0
        - in: query
          name: secondId
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: OK
  '/{branchId}/patch/undo':
    put:
      tags:
        - patch
      summary: "Annulation de la dernière modification"
      description: ""
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
  '/{branchId}/patch/redo':
    put:
      tags:
        - patch
      summary: "Reprise en compte de la dernière modification annulée"
      description: ""
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
  '/{branchId}/patches/clear':
    put:
      tags:
        - patch
      summary: "Annulation de toutes les modifications"
      description: ""
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
  '/{branchId}/patch':
    post:
      tags:
        - patch
      summary: "Application d'un patch de correction"
      description: "Mise a jour du graph de mosaiquage a partir d'un geoJSON"
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
      requestBody:
        description: polygone à patcher (geoJson)
        required: true
        content:
          application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - FeatureCollection
                  crs:
                    type: object
                    example:
                      {
                        "type":"name",
                        "properties":{
                          "name":"urn:ogc:def:crs:EPSG::2154"}}

                  features:
                    type: object
                    example:
                      [ { type: 'Feature', properties: { color: [254, 175, 143], cliche: '19FD5606Ax00020_16371' }, geometry: { type: 'Polygon', coordinates: [[[230748, 6759736], [230746, 6759736], [230746, 6759734], [230748, 6759734], [230748, 6759736]]] } } ]

      responses:
        '200':
          description: OK
  '/{branchId}/patches':
    get:
      tags:
        - patch
      summary: "Récupération de tous les patchs de correction"
      description: ""
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
  '/{branchId}/graph':
    get:
      tags:
        - graph
      summary: "Récupération de l'identifiant du cliche"
      description: ""
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
        - in: query
          name: x
          required: true
          schema:
            type: string
          example: 230975.8
        - in: query
          name: y
          required: true
          schema:
            type: string
          example: 6759518.1
      responses:
        '200':
          description: OK

  '/{branchId}/wmts':
    get:
      tags:
        - wmts
      summary: "service wmts pour ortho et graph"
      description: ""
      parameters:
        - in: path
          name: branchId
          description: l'identifiant de la branche
          required: true
          schema:
            type: integer
        - in: query
          name: SERVICE
          required: true
          schema:
            type: string
            enum:
#              - WMS
              - WMTS
        - in: query
          name: REQUEST
          required: true
          description: ""
          schema:
            type: string
            enum:
              - GetCapabilities
              - GetTile
              - GetFeatureInfo
        - in: query
          name: VERSION
#          description: ex: 1.0.0
          required: true
          schema:
            type: string
#            pattern: '^\d+(.\d+)*$'
            enum:
              - 1.0.0
        - in: query
          name: LAYER
          description: required if GetTile or GetFeatureInfo
          required: false
          schema:
            type: string
            enum:
              - ortho
              - graph
              - opi
            example: ortho
        - in: query
          name: Name
          description: dimension to use when LAYER='opi' (REQUEST=GetTile)
          required: false
          schema:
            type: string
            example: 19FD5606Ax00020_16371
        - in: query
          name: STYLE
          description: required if GetTile or GetFeatureInfo
          required: false
          schema:
            type: string
            enum:
              - normal
#              - default
            example: normal  # example of a parameter value
        - in: query
          name: FORMAT
          description: required if GetTile
          required: false
          schema:
            type: string
            enum:
              - image/png
              - image/jpeg
            example: image/png
        - in: query
          name: TILEMATRIXSET
          description: required if GetTile or GetFeatureInfo
          required: false
          schema:
            type: string
            enum:
              - LAMB93_5cm
            example: LAMB93_5cm
        - in: query
          name: TILEMATRIX
          description: required if GetTile or GetFeatureInfo
          required: false
          schema:
            type: string
            example: 21
        - in: query
          name: TILEROW
          description: required if GetTile or GetFeatureInfo
          required: false
          schema:
            type: integer
            example: 409395
        - in: query
          name: TILECOL
          description: required if GetTile or GetFeatureInfo
          required: false
          schema:
            type: integer
            example: 18027
        - in: query
          name: I
          description: required if GetFeatureInfo
          required: false
          schema:
            type: integer
            example: 109
        - in: query
          name: J
          description: required if GetFeatureInfo
          required: false
          schema:
            type: integer
            example: 136
        - in: query
          name: INFOFORMAT
          description: required if GetFeatureInfo
          required: false
          schema:
            type: string
            example: application/gml+xml; version=3.1
  
      responses:
        '200':
          description: OK

  '/json/{filetype}':
    get:
      tags:
        - file
      summary: "Récupération de fichier json"
      description: "Route permettant la récupération du fichier overviews.json"
      parameters:
        - in: path
          name: filetype
          required: true
          schema:
            type: string
            enum:
              - overviews

      responses:
        '200':
          description: OK

  '/processes':
    get:
      tags:
        - process
      summary: "Récupération la liste des traitements longs"
      description: ""
      responses:
        '200':
          description: OK
  '/process/{id}':
    get:
      tags:
        - process
      summary: "Récupération de l'état d'un traitement"
      description: ""
      parameters:
      - in: path
        name: id
        description: l'identifiant du traitement
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
