name: Coveralls

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  API:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: apt update
      run: |
        sudo apt update
    - name: Install gdal
      run: |
        sudo apt install python3-gdal
    - name: Install libgdal
      run: |
        sudo apt-get install libgdal-dev

    - name: pip install
      run: |
        python -m pip install --upgrade pip
        pip install numpy
        pip install --global-option=build_ext --global-option="-I/usr/include/gdal" GDAL==`gdal-config --version`

    - name: create cache
      run: |
        python scripts/create_cache.py -i "regress/data/*.tif" -o ressources/LAMB93_5cm.json -c cache_regress -t regress

    - name: update cache
      run: |
        python scripts/update_cache.py -i "regress/data/*.tiff" -c cache_regress -t regress

    - name: install
      run: npm install

    - name: API test
      env:
        DEBUG:
      run: |
        npm run test-coveralls

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage/lcov.info
