name: Coveralls

on:
  push:
    branches: [ master ]
  pull_request:
    # branches: [ master ]

jobs:
  API:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgis/postgis
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: initialize DB
      env:
        PGHOST: localhost
        PGPORT: 5432
        PGUSER: postgres
        PGPASSWORD: postgres
      run: |
        psql -c "CREATE DATABASE packo"
        psql -d packo -f sql/packo.sql

    - name: apt update
      run: |
        sudo apt update
    - name: Install gdal
      run: |
        sudo add-apt-repository ppa:ubuntugis/ppa && sudo apt update
        sudo apt install python3-gdal
    - name: Install libgdal
      run: |
        sudo apt-get install libgdal-dev

    - name: pip install
      run: |
        python -m pip install --upgrade pip
        pip install numpy
        pip install --global-option=build_ext --global-option="-I/usr/include/gdal" GDAL==`gdal-config --version`

    - name: create cache
      run: |
        python scripts/create_cache.py -i "regress/data/*.tif" -o ressources/LAMB93_5cm.json -c cache_regress -g "regress/data/regress_graphe.gpkg" -t graphe

    - name: update cache
      run: |
        python scripts/update_cache.py -i "regress/data/update/*.tif" -c cache_regress -g "regress/data/regress_graphe.gpkg" -t graphe

    - name: install
      run: npm install

    - name: API test
      env:
        PGHOST: localhost
        PGPORT: 5432
        PGUSER: postgres
        PGPASSWORD: postgres
        PGDATABASE: packo
        DEBUG:
      run: |
        npm run test-coveralls

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage/lcov.info
