name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: install gdal
      run: sudo apt-get install python3-gdal
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint flake8
    - name: Analysing the code with pylint
      run: |
        pylint scripts/createCache.py
      continue-on-error: true
    - name: Analysing the code with flake8
      run: |
        flake8 scripts/createCache.py
