# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Eslint

on: [push]

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'
      
    - name: API Install dependencies
      run: npm install --also=dev
        
    - name: API linter
      run: npm run lint

    - name: install itowns
      run: |
        cd itowns
        npm install

    - name: itowns linter
      run: |
        cd itowns
        npm run lint
